footer {
    background-color: var(--gray-800, black);
    color: var(--gray-400, #fff);
    padding: 2rem 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
}

/* SM */
@media only screen and (min-width: 640px) {
    footer {
        padding: 2rem 0;
    }
  }
  